<form method="post" class="article_part_form" [formGroup]="articleFormartists">
  <div class="col-lg-8 pull-left">
    <div class="card card-default mb-3">
      <div class="card-header">
        Create Artwork
      </div>
      <div class="card-body row">
        <div class="col-lg-12 pull-left">
          <!-- <fieldset>
            <label>Entity Location<span class="asstrick">*</span></label>
            <input type="text" formControlName="location" [ngClass]="{
                        'form-control': true,'is-invalid': location?.invalid && location?.touched,
                        'is-valid': location?.valid}" />
                        <small id="fnHelp" *ngIf="location?.errors.required && location?.touched" class="form-text custom-invalid-feedback">Please fill the Location</small>
                       <small id="fnHelp" *ngIf="location?.errors.minlength && location?.touched" class="form-text custom-invalid-feedback">Value must contain atleast 5 characters</small>
          </fieldset> -->
          <fieldset >
            <label>Entity Profile & Location<span class="asstrick">*</span></label>
          <ng-select  [items]="entityLocation"
           bindLabel="entityName"
           formControlName="location"
           [multiple]="true"
           [hideSelected]="true"
           [loading]="entityLocationloading"
           [typeahead]="entityLocationinputs$"
          >
          </ng-select>

          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Artwork Title<span class="asstrick">*</span></label>
            <input type="text" formControlName="title" [ngClass]="{
              'form-control': true,'is-invalid': title?.invalid && title?.touched,
              'is-valid': title?.valid}" />
              <small id="fnHelp" *ngIf="title?.errors.required && title?.touched" class="form-text custom-invalid-feedback">Please fill the titile</small>
             <small id="fnHelp" *ngIf="title?.errors.minlength && title?.touched" class="form-text custom-invalid-feedback">Value must contain atleast 5 characters</small>
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Artists</label>
            <ng-select  [items]="artistdata"
            bindLabel="artistName"
            formControlName="field_artists"
            [multiple]="true"
            [hideSelected]="true"
            [loading]="artistsloading"
            placeholder="Search artists"
            [typeahead]="artistinputs$"
           >
        </ng-select>
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Artwork Type</label>
            <ng-select [items]="artworkType_all" bindLabel="artworkTypeLabel" bindValue="artworkTypeLabel" placeholder="Please select Artwork Type"
              formControlName="artworkType">
            </ng-select>

          </fieldset>
        </div>
        <!-- <div class="col-lg-12 pull-left">
                    <fieldset>
                        <label>Artist Name (enter artist's full name)<span class="asstrick">*</span></label>
                         <input type="text" formControlName="artistName" [ngClass]="{'form-control': true,'is-invalid': artistName.invalid && artistName?.touched,'is-valid': artistName.valid}" class="form-control"/>
                         <small *ngIf="artistName?.errors.required && artistName?.touched" class="form-text custom-invalid-feedback">Please fill the artist name</small>
                         <small *ngIf="artistName?.errors.minlength && artistName?.touched" class="form-text custom-invalid-feedback">Value must contain atleast 5 characters</small>
                      </fieldset>
                  </div>
                    <div class="col-lg-12 pull-left">
                       <fieldset>
                        <label>First Name<span class="asstrick">*</span></label>
                         <input type="text" formControlName="fname" class="form-control"/>

                      </fieldset>
                  </div>
                   <div class="col-lg-12 pull-left">
                    <fieldset>
                        <label>Last Name<span class="asstrick">*</span></label>
                         <input type="text" formControlName="lname" class="form-control"/>

                      </fieldset>
                     <fieldset>
                        <label>Last name<span class="asstrick">*</span></label>
                         <input type="text" formControlName="lname" [ngClass]="{'form-control': true,'is-invalid': lname.invalid && lname?.touched,'is-valid': lname.valid}" class="form-control"/>
                         <small *ngIf="lname?.errors.required && lname?.touched" class="form-text custom-invalid-feedback">Please fill the artist name</small>
                         <small *ngIf="lname?.errors.minlength && lname?.touched" class="form-text custom-invalid-feedback">Value must contain atleast 5 characters</small>
                      </fieldset>
                  </div> -->
        <!-- <div class="col-lg-12 pull-left">
                    <fieldset>
                        <label>Also Known As</label>
                         <input type="text" formControlName="knownas" class="form-control"/>

                      </fieldset>
                  </div> -->
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Artwork Photo (max size 845x625)</label>
              <img [src]='uploadedFile' alt="Forest" style="width:150px" *ngIf="uploadedFile">
            <input type="file" formControlName="photo" class="form-control" (change)="getFileDetails($event)" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Height</label>
            <input type="text" formControlName="height" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Width</label>
            <input type="text" formControlName="width" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Depth</label>
            <input type="text" formControlName="depth" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Units</label>
            <ng-select [items]="units_all" bindLabel="unitTypeLabel" bindValue="unitTypeLabel" placeholder="Please select units"
              formControlName="units" [ngClass]="{
                'form-control': true,'is-invalid': units?.touched,
                'is-valid': tiunitstle?.valid}" >
            </ng-select>
            <small id="fnHelp" *ngIf="units?.errors.required && units?.touched" class="form-text custom-invalid-feedback">Please Select the Unit</small>

          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Measurement description</label>
            <input type="text" formControlName="measurmentDescription" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Medium Category </label>
            <ng-select [items]="mediumCategory_all" bindLabel="mediumType" bindValue="mediumType" placeholder="Please select Medium"
              formControlName="mediumCategory" [ngClass]="{
                'form-control': true,'is-invalid': mediumCategory?.touched,
                'is-valid': mediumCategory?.valid}" >
            </ng-select>
            <small id="fnHelp" *ngIf="mediumCategory?.errors.required && mediumCategory?.touched" class="form-text custom-invalid-feedback">Please Select the mediumCategory</small>

          </fieldset>

        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Specialities</label>
            <select class="" multiple="multiple" formControlName="specialties" id="edit-field-specialties-en" class="form-select form-control">
              <option value="_none">- None -</option>
              <option value="24635924">Boats</option>
              <option value="24635860">Modern &amp; Post-War British Art</option>
              <option value="24635859">Modern &amp; Contemporary Southeast Asian Art</option>
              <option value="24635911">Mirrors</option>
              <option value="24635857">Minitures</option>
              <option value="24635858">Modern British &amp; Irish Art</option>
              <option value="24635861">New Zealand</option>
              <option value="24635913">Persian Carpets</option>
              <option value="24635862">Orientalist Art</option>
              <option value="24635880">Oceanic</option>
              <option value="24635900">Mid-20th Centur</option>
              <option value="24635873">20th Century</option>
              <option value="24635855">Italian Paintings</option>
              <option value="24635854">Indian, Himalayan and Southeast Asian Art</option>
              <option value="24635853">Indian Art (Modern &amp; Contemporary)</option>
              <option value="24635903">Home Furnishings</option>
              <option value="24635884">Judaica</option>
              <option value="24635888">Khmer and Southeast Asian Art</option>
              <option value="24635856">Marine Paintings</option>
              <option value="24635892">Maps</option>
              <option value="24635906">Lighting</option>
              <option value="24635915">Porcelain</option>
              <option value="24635863">Portraits &amp; Nudes</option>
              <option value="24635922">Watches</option>
              <option value="24635872">Victorian, Pre-Raphaelite &amp; British Impressionist Art</option>
              <option value="24635871">Turkish &amp; Middle Eastern (Modern &amp; Contemporary)</option>
              <option value="24635870">Topographical Pictures</option>
              <option value="24635917">Tapestry</option>
              <option value="24635887">Roman Art</option>
              <option value="24635877">Renaissance</option>
              <option value="24635881">Pre-Colombian</option>
              <option value="24634367">Post Modern</option>
              <option value="24635865">Russian Paintings</option>
              <option value="24635902">Scandinavian</option>
              <option value="24635869">Spanish Paintings</option>
              <option value="24635868">South African</option>
              <option value="24635905">Silver</option>
              <option value="24635885">Greek Art</option>
              <option value="24635876">Medieval</option>
              <option value="24635843">Australian Art</option>
              <option value="24635842">Asian 20th Century &amp; Contemporary Art</option>
              <option value="24635879">Asian</option>
              <option value="24635899">Art Nouveau</option>
              <option value="24635891">Autographs</option>
              <option value="24635923">Autos</option>
              <option value="24635918">Bronze</option>
              <option value="24635844">British Paintings</option>
              <option value="24635889">Books and Antiquarian</option>
              <option value="24635909">Glass</option>
              <option value="24635841">Arab, Iranian &amp; Turkish Art (Modern &amp; Contemporary)</option>
              <option value="24635901">American Contemporary</option>
              <option value="24635839">American Art</option>
              <option value="24635838">African Paintings</option>
              <option value="24635919">20th century carpets and rugs</option>
              <option value="24635897">American Furniture, Decorative Art &amp; Folk Art</option>
              <option value="24635840">American Indian Art</option>
              <option value="24635894">Antiques</option>
              <option value="24635875">Animalier Bronze</option>
              <option value="24635882">Ancient Art</option>
              <option value="24635845">Canadian</option>
              <option value="24635898">Art Deco</option>
              <option value="24635920">Candelabra and chandelier</option>
              <option value="24635883">Egyptian, classical, Near-Eastern antiquities</option>
              <option value="24635895">English</option>
              <option value="24635908">Design Objects</option>
              <option value="24635851">German, Austrian &amp; Central European Paintings</option>
              <option value="24635893">Furniture</option>
              <option value="24635896">European</option>
              <option value="24635921">Fine Jewelry</option>
              <option value="24635850">French Paintings</option>
              <option value="24635907">Design Lighting</option>
              <option value="24635848">Dutch &amp; Belgian Paintings</option>
              <option value="24635904">Crystal</option>
              <option value="24635916">Ceramics</option>
              <option value="24635878">Classical</option>
              <option value="24635847">Chinese Modern Paintings</option>
              <option value="24635886">Chinese Art</option>
              <option value="24635914">Chinese Carpets</option>
              <option value="24635846">Chinese Classical Paintings</option>
              <option value="24635890">Collectible Books &amp; Manuscripts</option>
              <option value="24635912">Clocks</option>
              <option value="24634366">Pop Art</option>
              <option value="24634365">Photorealist</option>
              <option value="24634368">Post-War</option>
              <option value="6783">Prints &amp; Multiples&nbsp;</option>
              <option value="24586663">Russian Art</option>
              <option value="24634378">Rental</option>
              <option value="24634767">Real Estate</option>
              <option value="6781">Photography</option>
              <option value="6776">Modern Art</option>
              <option value="6799">Native &amp; Tribal Arts</option>
              <option value="6790">Old Masters</option>
              <option value="24634369">Scandinavian Modern</option>
              <option value="24634769">Yachts</option>
              <option value="24634768">Vintage cars</option>
              <option value="24634375">Vintage</option>
              <option value="24634374">Victorian</option>
              <option value="6744">Urban Art</option>
              <option value="24634370">Spanish</option>
              <option value="24586664">Sculpture</option>
              <option value="24634371">Street Art</option>
              <option value="24634372">Surrealist</option>
              <option value="24634362">Modern</option>
              <option value="24634376">Classic</option>
              <option value="24634645">Chinese</option>
              <option value="6752">Contemporary Art</option>
              <option value="24634352">Cubist</option>
              <option value="24586661">Drawings &amp; Works on Paper&nbsp;</option>
              <option value="6735">Design</option>
              <option value="6748">Decorative Art &amp; Antiques</option>
              <option value="24586660">Artist's Books</option>
              <option value="6746">Asian &amp; Islamic Art&nbsp;</option>
              <option value="6791">Early American Art</option>
              <option value="24634358">Italian Design</option>
              <option value="24634357">Italian</option>
              <option value="6772">Latin American Art</option>
              <option value="24634359">Louis XVI</option>
              <option value="24634361">Minimalist</option>
              <option value="24634360">Mid-century modern</option>
              <option value="24634356">Impressionist</option>
              <option value="6764">Folk, Naïve, &amp; Outsider Art</option>
              <option value="24634353">Expressionist</option>
              <option value="24586662">Emerging Artists&nbsp;</option>
              <option value="24634377">For Sale</option>
              <option value="24634354">French and Continental</option>
              <option value="24634355">Georgian</option>
              <option value="6729">19th C European Art</option>
            </select>

          </fieldset>
        </div>
        <!-- <div class="col-lg-12 pull-left">
                      <button class="accordion ">Lifespan</button>
                      <div class="panel">
                        <div class="lifespan_acco">
                         <label><input type="checkbox" name="" class="show_date" formControlName="show_date"> Show End Date</label>
                         <div class="col-lg-12 no-padding">
                          <input type="text" class="form-control" formControlName="fomat_date">
                          <span>Format: 2019</span>
                         </div>
                         <div class="col-lg-12 no-padding formate_date" style="display:none;">
                          <h2>to:</h2>
                          <input type="text" class="form-control" formControlName="tofomat_date">
                          <span>Format: 2019</span>
                         </div>
                      </div>
                       <fieldset>
                         <label>Birth Year Qualifier</label>
                         <select id="edit-field-birth-year-qualifier-und" formControlName="field_birth_year_qualifier" class="form-select form-control"><option value="_none">- None -</option><option value=""></option><option value="before">before</option><option value="circa">circa</option><option value="after">after</option></select>
                       </fieldset>
                        <fieldset>
                         <label>Death Year Qualifier</label>
                         <select id="edit-field-death-year-quallifier-und" formControlName="field_death_year_quallifier" class="form-select form-control"><option value="_none">- None -</option><option value=""></option><option value="before">before</option><option value="circa">circa</option><option value="after">after</option></select>
                       </fieldset>
                       <fieldset>
                         <label>Place of Birth</label>
                         <input type="text" name="" class="form-control" formControlName="place_of_birth"/>
                       </fieldset>
                       <fieldset>
                         <label>Place of Death</label>
                         <input type="text" name="" class="form-control" formControlName="place_of_death"/>
                       </fieldset>
                       <fieldset>
                         <label>Date description</label>
                         <textarea class="form-control" rows="5" formControlName="date_description"></textarea>
                       </fieldset>
                      </div>
                </div> -->
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Materials</label>
            <input type="text" formControlName="material" class="form-control" />
          </fieldset>

        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Edition</label>
            <input type="text" formControlName="edition" class="form-control" />
          </fieldset>

        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Date</label>
            <input type="text" formControlName="date_field" class="form-control" />
          </fieldset>

        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Date qualifier</label>
            <ng-select [items]="dateQualifier_all" bindLabel="dateQualifierType" bindValue="dateQualifierType"
              placeholder="Please select date Qualifier" formControlName="dateQualifier">
            </ng-select>

          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Subject</label>
            <ng-select [items]="subject_all" bindLabel="subjectType" bindValue="subjectType" placeholder="Please select Subject"
              formControlName="subject">
            </ng-select>

          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Status</label>
            <ng-select [items]="status_all" bindLabel="statusType" bindValue="statusType" placeholder="Please select Satus"
              formControlName="status">
            </ng-select>

          </fieldset>

        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Price from</label>
            <input type="text" formControlName="priceFrom" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Price to</label>
            <input type="text" formControlName="priceTo" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Currency</label>
            <ng-select [items]="currency_all" bindLabel="currencyType" bindValue="currencyType" placeholder="Please select Currency"
              formControlName="currency" [ngClass]="{
                'form-control': true,'is-invalid':currency?.touched,
                'is-valid': currency?.valid}" >
            </ng-select>
            <small id="fnHelp" *ngIf="currency?.errors.required && currency?.touched" class="form-text custom-invalid-feedback">Please Select the currency</small>

          </fieldset>

        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Extra description</label>
            <ckeditor [editor]="ClassicEditorBuild" formControlName="extraDescription"></ckeditor>
          </fieldset>
        </div>
        <!-- <div class="col-lg-12 pull-left">
                 <fieldset>
                  <label>Artist Biography<span style="color:#2991ff">(Edit summary)</span></label>

                   <div [froalaEditor] formControlName="articleDescription"></div>
                </fieldset>
                </div>
                <div class="col-lg-12 pull-left">
                   <fieldset>
                    <label>Artist Statement<span style="color:#2991ff">(Edit summary)</span></label>

                     <div [froalaEditor] formControlName="artist_statement"></div>
                  </fieldset>
                </div>     -->
<!--                <div class=" mt-2 col-lg-12 no-padding">-->
<!--                  <div class="card card-default mb-3">-->
<!--                      <div class="card-header">-->
<!--                           publishing options -->
<!--                      </div>-->
<!--                      <div class="card-body">-->
<!--                          <fieldset>-->
<!--                          <ul class="list-inline product-chooser col-lg-12 no-padding pro_options">-->
<!--                              <li class="product-chooser-item" [ngClass]="{'selected':publishOption == 1}" (click)="publishOption = 1" ><input type="radio" name="n"/> Publishing options </li>-->
<!--                              <li class="product-chooser-item" [ngClass]="{'selected':publishOption == 2}" (click)="publishOption = 2"><input type="radio" name="n"/>Scheduling </li>-->
<!--                              <li class="product-chooser-item" [ngClass]="{'selected':publishOption == 3}" (click)="publishOption = 3"><input type="radio" name="n"/> URL </li>-->
<!--                          </ul>-->
<!--                            <ul class="list-inline">-->
<!--                                <li>-->
<!--                                  <label><input type="checkbox" formControlName="Published"/> Published</label> </li>-->
<!--                                <li>-->
<!--                                  <label><input type="checkbox" formControlName="saveDrafts"/> Save as draft</label></li>-->
<!--                            </ul>-->
<!--                           </fieldset>-->
<!--                      </div>-->
<!--                    -->
<!--                  </div>-->
<!--              -->
<!--                  &lt;!&ndash; /.card &ndash;&gt;-->
<!--          </div> -->
      </div>
    </div>

    <!-- /.card -->
  </div>
  <div class="col-lg-4 no-padding pull-left">
    <div class="card card-default mb-3">
      <div class="card-header">
        Seo keywords
      </div>
      <div class="card-body row">

        <div class="col-lg-12 pull-left">
          <fieldset>

            <label>SEO Keywords</label>
            <input type="text" formControlName="seo_keywords" class="form-control" />
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>SEO Description</label>
            <textarea class="form-control" rows="5" formControlName="seo_description"></textarea>
          </fieldset>
        </div>
        <div class="col-lg-12 pull-left">
          <fieldset>
            <label>Artwork order</label>
            <input type="text" formControlName="artwork_order" class="form-control" />
          </fieldset>
        </div>

        <!-- <div class="col-lg-12">
                     	<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
                     </div> -->

      </div>

    </div>

    <!-- /.card -->
  </div>
  <div class="col-lg-12 text-left pull-left">
    <button type="button" [disabled]="articleFormartists.invalid" (click)="submitHandler()" class="btn btn-primary">Create</button>

  </div>
</form>
