<div class="container microsite">
  <div class="col-lg-12 pull-left no-padding">
  	<div class="col-lg-8 no-padding pull-left">

  		<h1>Michael Rosenfeld Gallery, LLC </h1>
  		<nav>
  			<ul class="list-inline">
  				<li ><a [routerLink]="['/layout/microsite']" class="active">Overview </a></li>
  				<li><a [routerLink]="['/layout/microsite-events']"  >Events </a></li>
  				<li><a [routerLink]="['/layout/microsite-artworks']" >Artworks </a></li>
  			</ul>
  		</nav>

  	</div>
  	<div class="col-lg-4 text-right pull-left">

  		<a href="#">View Microsite <i class="fa fa-fw fa-external-link"></i></a><br/>
  		<a href="#">Contact Client Services <i class="fa fa-fw fa-envelope-open"></i></a>
  	</div>
  </div>

  <div class="col-lg-12 background_section pull-left">
  	<h2>Edit Profie Info </h2>
  	<div class="col-lg-6 pull-left no-padding border_section" style="max-width: 49%; margin-right: 10px;">
  			<div class="col-lg-10 pull-left no-padding">
  			<address>
  				509 West 27th Street <br/>
  				New York, NY 10001<br/>
  				New York<br/>
  				+1 212 563 4474<br/>
  				info@kasmingallery.com
  			</address>
  			<address>
  				Tuesday-Saturday, 10am - 6pm<br/>
  				Closed Sunday and Monday
  			</address>
  		</div>
  		<div class="col-lg-2 pull-left text-right">
  				<a href="#"><i class="fa fa-fw fa-edit"></i></a>
  			</div>
  		</div>
  	<div class="col-lg-6 pull-left border_section" style="">
  		<address>Number Of Artworks Allowed : 100</address>
  		<address>Number Of Photo Galleries Allowed : 20</address>
  		<address>Number Of Videos Allowed : 20</address>
  	</div>

  </div>


</div>