<div  class="article_part_form col-lg-12">
   <div class="col-lg-12 no-padding">
      <div class="card card-default">
        <div class="card-header">
           Trending configuration
        </div>
       <div class="card-body">
       
      <form [formGroup]="treding_configuration">
  <div class="col-lg-12 no-padding">
    <h2 class="col-lg-12">Add Articles to Trending </h2>
          <div class="col-lg-4 pull-left">
              <ng-select  [items]="articledata"
                   bindLabel="title"
                   formControlName="_id"
                   [multiple]="true"
                   [hideSelected]="true"
                    bindValue="_id"
                    [selectableGroup]="true"
                    [loading]="articleloading"
                   placeholder="Search by article title"
                   [typeahead]="articleinputs$"
                   >
               </ng-select>
              
          </div>
         <div class="col-lg-3 pull-left"> 
             <ng-select [items]="pos_all"
                     bindLabel="posValue"
                     bindValue="posValue"
                     placeholder="position"
                      formControlName="pos"
                     [hideSelected]="true"
                >
                </ng-select> 
                
          </div>
          <div class="col-lg-3 pull-left">
             <ng-select [items]="country_all"
                     bindLabel="countryValue"
                     bindValue="countryValue"
                     placeholder="Country"
                      formControlName="country_abb"
                     [hideSelected]="true"
                >
                </ng-select>
          </div>   
          <div class="col-lg-2 text-center pull-left">
            <input type="submit" value="Add Content" style=" margin-top: 20px;border: 0px;padding: 7px 18px;" (click)="ontrending(item)" class="btn btn-primary" />
          </div> 
        </div>
      
          <div class="">
        <table class="table table-hover table-striped" [mfData]="data | dataFilter : filterQuery : country_abb" #mf="mfDataTable">
          <thead>
            <tr  style="width: 100%;display: inline-block;">
              <th scope="col" style="width: 200px"><mfDefaultSorter by="country_abb">Country</mfDefaultSorter></th>

              
              <th scope="col" style="width: 200px"><mfDefaultSorter by="country_abb">Short Title</mfDefaultSorter></th>
               <th style="width: 200px">Position </th>
               <th style="width: 200px">Country Update </th>
              <th style="width: 200px; text-align: center;">Update </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngIf="!data?.length > 0" >
                  <td style="text-align: center;font-size: 20px;font-weight: bold;padding: 39px;">Opps No Data Available</td>
              </tr>
              <tr  *ngFor="let item of data;" >
                  <div *ngIf="data?.length > 0">
                  <div *ngFor="let datas of item.trending">
                    <div *ngIf="item.trending?.length > 0"  style="width: 100%;display: inline-block;">
                        <td style="width: 200px" *ngIf="datas && datas.country_abb"> {{datas.country_abb}}</td>
                        <td style="width: 200px" *ngIf="datas && datas.short_title">{{datas.short_title}}</td>
                         <td style="width: 200px" *ngIf="datas && datas.pos">
         
                         {{datas.pos}}
                         <ng-select [items]="pos_all"
                              bindLabel="posValue"
                              bindValue="posValue"
                              placeholder="position"
                                    (change)="datas.pos = $event['posValue']"
                              [hideSelected]="true"
                         >
                         </ng-select> </td>
                         <td style="width: 200px" *ngIf="datas && datas.country_abb"> {{datas.country_abb}} <ng-select [items]="country_all"
                              bindLabel="countryValue"
                              bindValue="countryValue"
                              placeholder="Country"
                               (change)="datas.country_abb = $event['countryValue'].toLowerCase()"
                              [hideSelected]="true"
                         >
                         </ng-select>  </td>
                       <td style="width: 200px;text-align: center; ">
                         <button class="btn btn-primary"  type="button" (click)="onSelect(datas)">Update </button>
                       <button class="btn btn-danger"  type="button" (click)="deleteItem(item)" style="margin-left: 10px;">Delete </button> 
                       </td>
                      
                  </div>
                  </div>
                    </div>
              </tr>
  </tbody>
</table>
  </div>
  </form>
</div>
</div>
</div>

</div>
