h2 {
  font-size: 18px;font-weight: bold;border-bottom: 1px solid #ccc;padding: 27px 10px;
}
table {
  th {
        font-size: 13px;
    text-transform: uppercase;
  }
  td{font-size: 13px;}
  button {
    font-size: 13px;
  }
}
.ng-select {font-size: 13px; font-weight: bold;color:#000}