

.table td, .table button{font-size:14px;padding: 0.5rem;    vertical-align: middle;}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {padding: 1px 4px !important;
    margin: 0 0.1em 0.1em 0 !important;}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    color: rgba(255,255,255,0.54);
    padding-right: 3px !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    font-size: 11px !important;
    font-weight: normal !important;
}
.ng-value-label {font-size:12px;}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
.pagination,mfpaginator {float:right;}
.search_icon {position:relative}
.search_icon input{font-size:13px;height:37px; }
.search_icon:after{position:absolute;content:'';    right: 21px;
    top: 37px;background: url('../../../assets/images/search-icon.png');width:25px;height: 25px;}
