<!DOCTYPE html>


<html>

<head>
	<meta charset="UTF-8">
	<title>Email Verification</title>



</head>


<body width="100%">
	<style>

	</style>



	<table width="100%" border="0" cellpadding="0" cellspacing="0">

		<!-- START HEADER/BANNER -->

		<tbody>
			<tr>
				<td align="center">
					<table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td align="center" valign="top">
									<table class="col-600" class="t1" width="600" height="350" border="0" align="center" background="" bgcolor="#213140" style="background:url(https://d28m33a1qgncp1.cloudfront.net/img/home_banner.jpg) no-repeat top / 100% auto; position: absolute;
    clip: auto;box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);background-position:top;height=" 600 ""="" cellpadding="0"
										cellspacing="0">

										<tbody>
											<tr>
												<td height="40"></td>
											</tr>


											<tr>
												<td align="center" style="line-height: 0px;">
													<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://d28m33a1qgncp1.cloudfront.net/img/logo.png"
														width="109" height="103" alt="logo">
												</td>
											</tr>

											<tr>
												<td height="20"></td>
											</tr>

											<tr>
												<td align="center" style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffb500; line-height:24px; font-weight: bold; letter-spacing: 2px;">
													BaiAdminServer
												</td>
											</tr>





											<tr>
												<td height="35"></td>
											</tr>


											<tr>
												<td align="center" style="font-family: 'Raleway', sans-serif; font-size:20px; color:#ff7f50; line-height:24px; font-weight: bold;">{{title}}</td>
											</tr>


											<tr>
												<td height="30"></td>
											</tr>


											<tr>
												<td align="center">
													<span style="font-family: 'Lato', sans-serif; font-weight:bold; font-size:14px; color:white; line-height: 1px; font-weight: 300;padding:6px;">	<big><strong>{{subTitle}} </strong></big></span>
												</td>
											</tr>

											<tr>
												<td height="30"></td>
											</tr>


											<tr>
												<td align="center">
													<span style="font-family: 'Lato', sans-serif; font-weight:bold; font-size:14px; color:white; line-height: 1px; font-weight: 300;padding:6px;"><big>	<strong>{{body}}</strong></big></span>
												</td>
											</tr>


											<tr>
												<td height="40"></td>
											</tr>
											<tr>
												<td align="center" style="font-family: 'Lato', sans-serif; font-size:14px;  line-height: 1px; font-weight: 300;">

													<a style="background-color: #339CFF; /* Green */
                                                                                        border: none;
                                                                                        color: white;
                                                                                        padding: 15px 32px;
                                                                                        text-align: center;
                                                                                        text-decoration: none;
                                                                                        display: inline-block;
                                                                                        font-size: 16px;
                                                                                        margin: 4px 2px;
                                                                                        cursor: pointer;
                                                                                        -webkit-transition-duration: 0.4s; /* Safari */
                                                                                            transition-duration: 0.4s;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.18),0 17px 50px 0 rgba(0,0,0,0.11);"
														href="{{verifyUrl}}">Verify</a>
												</td>
											</tr>

											<tr>
												<td height="30"></td>
												<tr>
													<td align="center">
														<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style=" border-left: 1px solid #dbd9d9;bgcolor:#213140; border-right: 1px solid #dbd9d9;">
															<tbody>

																<tr>
																	<td align="center" height="185">
																		<table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td height="25"></td>
																				</tr>

																				<tr>
																					<td align="center" style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:#f1c40f;">Follow us for some cool stuffs</td>
																				</tr>


																				<tr>
																					<td height="25"></td>
																				</tr>



																			</tbody>
																		</table>
																		<table align="center" width="35%" border="0" cellspacing="0" cellpadding="0">
																			<tbody>
																				<tr>
																					<td align="center" width="30%" style="vertical-align: top;">
																						<a href="https://www.facebook.com/profile.php?id=100010226370264&fref=ts&ref=br_tf" target="_blank"> <img src="http://designmodo.com/demo/emailtemplate/images/icon-fb.png"> </a>
																					</td>

																					<td align="center" class="margin" width="30%" style="vertical-align: top;">
																						<a href="https://www.linkedin.com/company/10699487?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10699487%2Cidx%3A2-1-2%2CtarId%3A1481101166827%2Ctas%3Aapnas"
																							target="_blank"> <img height="47" width="46" bgcolor="white" src="http://www.freeiconspng.com/uploads/linkedin-icon-25.png">																							</a>
																					</td>


																				</tr>
																			</tbody>
																		</table>



																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>


			<!-- END HEADER/BANNER -->


			<!-- START 3 BOX SHOWCASE -->




			<tr>
				<td height="5"></td>
			</tr>


			<!-- END 3 BOX SHOWCASE -->


			<!-- START AWESOME TITLE -->




			<!-- END AWESOME TITLE -->


			<!-- START WHAT WE DO -->



			<!-- END FOOTER -->



		</tbody>
	</table>


</body>

</html>