.breadcrumb li {    font-size: 14px;}
.breadcrumb li a{    margin-left: 7px;}
.tabs {
  position: relative;   
  min-height:318px; /* This part sucks */
  clear: both;

}

.main_img_class{
  .main_img{
    width: 100px;
    height:100px;
    border-radius: 100%;
  }
  .img_part{
    font-size: 27px;
    color: #d00606;
    position: absolute;
    left: 106px;
    cursor: pointer;
  }
}
.tab {
  float: left;
}
.tab label {
  padding: .5em;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  font-weight:bold;
  font-size:12px;
  text-decoration: none;
  position: relative;
  padding: 5px 17px;
}
.table-bordered {background: #fff;}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  z-index: 2;
  border-bottom-color: transparent;
  background: #000;
color: #fff;
padding-bottom: 3px;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
body{background:#000;}
.file_upload_system h3{font-size: 15px;font-weight: bold}
.file_upload_system table tr th {font-size:13px;}
.file_upload_system .progress {height: 0.3rem;margin-bottom: 18px;}
.file_upload_system button{font-size: 12px;padding:5px;margin-right:10px;    margin-bottom: 20px;}
.file_upload_system table tr td {font-size: 13px;}

#tab-button li:not(:first-child) a {
  border-left: none;
}

.tab-contents {

  border: 1px solid #ddd;
}
.tab-contents fieldset{    padding: 14px;
    border-bottom: 1px solid #ccc;}
.article_part_form .sub-channels li  {font-weight:bold;}
#upload_files {    padding: 7px 9px;
    margin-left: 15px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 102px;}
.filter-wrapper,
.keyword-wrapper {
  display: flex;
  justify-content: center;
}
.filter-wrapper {
  min-height: 100%;
  flex-flow: column wrap;;
  position: relative
}
.keyword-wrapper {
  width: 100%;
  position: relative;
}
#keyword {
  border: 1px solid #ccc;
  padding: 10px;
  font: 1.5em 'Arimo', sans-serif;
  width: 50%;
  outline: none;
  transition: border 0.5s ease-in-out
}
#keyword:focus {
  border-color : rgba(81, 203, 238, 1);;
}
#keyword-button {
  position: absolute;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7em;
  color: #8DB9ED
}
#keyword-button:hover {
  color: #ccc
}
.filter-select {
  width: 50%;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  left: 25%;
  top: calc(50% + 25px);
  max-height: calc(50% - 15px);
  overflow-y: auto;
  background: #fff
}
.filter-select-list img {
  margin-right: 30px;
}
.tags {
  font-size: 12px;
  font-style: italic;
  color: #c6c6c6;
  margin-right: 10px;
  position: relative;
  top: -10px;
}
.filter-select-list:hover .tags {
  color: #fff;
}
.filter-select-list {
  cursor: pointer;
  padding: 5px 10px;
}
.artist-name {
  display: inline-block;
  position: absolute;
}
.filter-select-list:hover {
  background:  #C0C0C0;
  color: #fff
}
.list-highlight,
.list-highlight:hover {
  background: rgb(55, 55, 55);
  color: #fff
}
@media only screen and (max-width: 768px) {
  .filter-select,
  #keyword {
    width: 80%;
  }
  #keyword {
    font-size: 1.3em
  }
  .filter-select {
    font-size: 0.9em;
    left: 10%;
    top: calc(50% + 23px);
  }
  #keyword-button {
    right: 11%
  }
}
@media only screen and (max-width: 480px) {
  .filter-select,
  #keyword {
    width: 95%;
  }
  .filter-select {
    left: 2.5%;
  }
  #keyword-button {
    right: 3.5%
  }
}
.tagSelection{
  width:85%;
  float:left;
}
.add-tag-button{
  margin-top: 5px;

  button{
    font-size: 13px;
    margin: 20px 0 0 21px;  
  }
}
.ng-select-container {
  .ng-placeholder {font-size:13px;}
}
.modal-header h4 {
      font-size: 15px;
}
.modal-header .close{
    padding: 2px 6px;
    margin: -1rem -1rem -1rem auto;
    background: #007bff;
    opacity: 1;
    color: #fff;
    font-size: 17px;
    border-radius: 100%;
    margin-right: -22px;
    margin-top: -23px;
    outline:none;
  }

