<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Bai admin forget password</h1>
            <form role="form" [formGroup]="forgetPassword">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="NewPassword" class="form-control input-underline input-lg" id="" placeholder="New password">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Confirm password" formControlName="ConfirmPassword">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Forget password </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">Register</a>
                <!-- <button type="button" class="btn btn-dark" (click)="login()">Log in</button>
          <button type="button" class="btn btn-secondary" (click)="moveToRegister()">Register</button> -->
            </form>
        </div>
    </div>
</div>
