.article_part_form input, .article_part_form textarea, .article_part_form select{    margin-bottom: 10px;}
span{font-size:12px;}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.description {font-size:12px;}
.tab-contents {

  border: 1px solid #ddd;
}
.tab-contents fieldset{    padding: 14px;
    border-bottom: 1px solid #ccc;}
.show_author,.show_author_hide{
  color:#0088ff;
}
.bottom_section .tab-button-outer {width: 30%;
    float: left;}
.bottom_section .tab-contents_1 {    width: 70%;background:#fff;
    float: left;}
.ngx-datepicker-container[_ngcontent-c6] .ngx-datepicker-input[_ngcontent-c6] {width: 100%;margin:0 !important;z-index:1 !important;}
.card-body {padding: 0.8rem;}
table tr td {vertical-align:middle;}
#tab-button li {
  display: table-cell;
  width: 20%;
}
.panel h6 {font-size:16px; font-weight:bold;margin-top:10px;}
.asstrick {color:red;}
.panel .description {font-size:13px;}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px 15px;
      margin-top: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
      border: 1px solid #f2f2f2;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel {
  width:100%;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel h4 {    font-size: 15px;
    padding: 6px 10px 0;}
panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  font-weight:bold;
  font-size:12px;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
      background: #000;
    color: #fff;
}
.tab-contents {

  border: 1px solid #ddd;
}
.tab-contents fieldset{    padding: 14px;
    border-bottom: 1px solid #ccc;}

.tabs {margin-top:20px;}
.bottom_section #tab-button li {
  width: 100%;
  float:left;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  font-weight:bold;
  font-size:12px;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
      background: #000;
    color: #fff;
}